<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/index.css">
</head>

<body>
    <div id="app">

        <!-- main-tittles -->
        <div class="layer tittles">
            <!-- slogan -->
            <div class="tittles__insight">
                <p>Wunderpeople Insights</p>
            </div>
            <!-- topic -->
            <div class="tittles__small-tittle">
                <h4 class="blending_color-burn">{{contents.smalltittle}}</h4>
            </div>
            <div class="tittles__tittle-wrapper">
                <div class="tittles__decoration"></div>
                <div class="tittles__tittle">
                    <h1 class="blending_color-burn">{{contents.tittle}}</h1>
                </div>
                <div class="tittles__topic">
                    <h2 class="blending_color-burn">{{contents.topic}}</h2>
                </div>
            </div>
            <div class="tittles__date">13 Jun 2018, The Hague</div>
        </div>

        <!-- content -->
        <div class="layer contents">
            <!-- slide-1 -->
            <div class="contents__slide-1" :class="[slide == 1 ? 'active' : '']">
                <div v-for="(para,index2) in contents.slides[0]" :class="['slide-1_pa-' + index2]">
                    <h3 v-for="t3 in para.tittle3">{{t3}}</h3>
                    <h4 v-for="t4 in para.tittle4">{{t4}}</h4>
                    <div v-for="(phase,index3) in para.content" :class="['slide-1_pa-' + index2 + '_p-' + index3]">
                        <p v-for="words in phase">{{words}}</p>
                    </div>
                </div>
            </div>

            <!-- slide-2 -->
            <div class="contents__slide-2" :class="[slide == 2 ? 'active' : '']">
                <div v-for="(para,index2) in contents.slides[1]" :class="['slide-2_pa-' + index2]">
                    <h3 v-for="t3 in para.tittle3">{{t3}}</h3>
                    <h4 v-for="t4 in para.tittle4">{{t4}}</h4>
                    <div v-for="(phase,index3) in para.content" :class="['slide-2_pa-' + index2 + '_p-' + index3]">
                        <p v-for="words in phase">{{words}}</p>
                    </div>
                </div>
            </div>

            <!-- slide-3 -->
            <div class="contents__slide-3" :class="[slide == 3 ? 'active' : '']">
                <div v-for="(para,index2) in contents.slides[2]" :class="['slide-3_pa-' + index2]">
                    <h3 v-for="t3 in para.tittle3">{{t3}}</h3>
                    <h4 v-for="t4 in para.tittle4">{{t4}}</h4>
                    <div v-for="(phase,index3) in para.content" :class="['slide-3_pa-' + index2 + '_p-' + index3]">
                        <p v-for="words in phase">{{words}}</p>
                    </div>
                </div>
            </div>

            <!-- slide-4 -->
            <div class="contents__slide-4" :class="[slide == 4 ? 'active' : '']">
                <div v-for="(para,index2) in contents.slides[3]" :class="['slide-4_pa-' + index2]">
                    <h3 v-for="t3 in para.tittle3">{{t3}}</h3>
                    <h4 v-for="t4 in para.tittle4">{{t4}}</h4>
                    <div v-for="(phase,index3) in para.content" :class="['slide-4_pa-' + index2 + '_p-' + index3]">
                        <p v-for="words in phase">{{words}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- controller -->
        <div class="layer controller">
            <ul class="controller__list">
                <li class="controller__item blending_color-burn" @click="slide=1" :class="slide == 1 ? 'active' : ''">Meetup #2</li>
                <li class="controller__item blending_color-burn" @click="slide=2" :class="slide == 2 ? 'active' : ''">Situation</li>
                <li class="controller__item blending_color-burn" @click="slide=3" :class="slide == 3 ? 'active' : ''">Challenges</li>
                <li class="controller__item blending_color-burn" @click="slide=4" :class="slide == 4 ? 'active' : ''">Next steps</li>
            </ul>
        </div>

        <!-- background -->
        <div class="layer layer__background">
            <div class="image-wrapper">
                <img src="" alt="image here">
            </div>

            <div class="decoration decoration_1">
                <span class="icon-deco1 blending_color-burn"></span>
            </div>
            <div class="decoration decoration_2">
                <span class="icon-deco2 blending_color-burn"></span>
            </div>
        </div>

        <div class="sample" style="display: none">
            <img src="./assets/image/test/slide2.png" alt="sample" class="sample">
        </div>
    </div>

    <script src="./libs/vuejs/vue.js"></script>
    <script src="./assets/js/index.js"></script>
</body>

</html>