@import "./fonts.css";
html{
    font-size: 1vmin;
}
html,body{
    width: 100%;
    height: 100%;
}
body, ul ,h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
}
body, ul ,h1,h2,h3,h4,h5,h6,p{
    padding: 0px;
}
#app{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
@media (max-width: 1280px){
    #app,
    .controller,
    .tittles,
    [class^="wrapper__slide-"]{
        min-width: 200vmin;
    }
    
}
ul li{
    list-style: none;
    display: inline;
}

h1,h3,h4{
    font-family: 'RobotoMono-Bold';
}
h2{
    font-family: 'RobotoMono-Regular';
}

h1{
    font-size: 13.5rem;
}
h2{
    font-size: 8rem;
}
h3{
    font-size: 6rem;
}
h4{
    font-size: 3.9rem;
    line-height: .9;
}
.contents > [class*="slide-"]{
    transition: all 1.5s ease-in-out;
    opacity: 0;
    transform: translateY(3vmin);
}

.contents > [class*="slide-"].visual{
    transition: all 1.5s ease-in-out;
    transform: translateY(0) !important;
    opacity: 1;
}

/* layer */
.layer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.layer > *{
    position: absolute;
}

/* controller */
.controller,
.tittles{
    font-family: 'RobotoMono-Medium';
    /* min-width: 200vmin; */
}
.controller__list{
    bottom: 3.5vmin;
    left: 2.5vmin;
}

.controller__item{
    display: table;
    position: relative;
    cursor: pointer;
    font-size: 4.6rem;
    font-weight: 500;
    line-height: 1.4;
}
.controller__item.active{
    color: rgb(240, 195, 15);
    mix-blend-mode: darken;
}
.controller__item.active:after{
    display: none;
}

/* tittles */
.tittles__insight{
    color: rgb(210,100,20);
    font-size: 2.3rem;
    margin: 2vmin 0 0 3vmin;
}
.tittles__tittle-wrapper{
    width: 108vmin;
    height: 82vmin;
    left: 48.5vmin;
    top: 10vmin;
}
.tittles__decoration{
    box-sizing: border-box;
    width: 77%;
    height: 100%;
    border: 2vw solid rgba(240,195,15,0.5);
    mix-blend-mode: multiply;
    background: transparent;
    margin: auto;
}
.tittles__small-tittle,
.tittles__tittle,
.tittles__topic,
.controller__item
{
    color: rgb(16,52,153);
}
.tittles__small-tittle{
    top: 9.5vmin;
    left: 21.5vmin;
    width: 20vmin;
}
.tittles__tittle{
    top: 0;
    left: 0;
    line-height: 9.5rem;
    letter-spacing: .1rem;
    position: absolute;
}
.tittles__topic{
    position: absolute;
    letter-spacing: .6rem;
    bottom: 0;
    text-align: right;
    right: 0;
    line-height: .9;
}

.controller__item:after,
.tittles__date:after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 2vmin;
    left: 0;
    bottom: 2px;
    background: rgb(240,195,15);
    background-blend-mode: color;
    z-index: -1;
}

.tittles__date{
    transform: rotate(-90deg) translate(100%,0);
    transform-origin: right bottom;
    bottom: 0;
    right: 0;
    font-size: 5.5rem;
    color: rgb(210,100,20);
    mix-blend-mode: darken;
    line-height: 1.1;
}

/* slide-wrapper */
.wrapper{
    display: flex;
    width: 400vw;
    height: auto;
    overflow: hidden;
    transition: all .7s ease;
}

[class^="wrapper__slide-"]{
    width: 100%;
    height: 100vh;
    position: relative;
    /* min-width: 200vmin; */
}
[class^="wrapper__slide-"] > *{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/* content */
.contents{
    color: rgb(60,80,100);
}
.contents p{
    font-size: 2.6rem;
    font-family: 'RobotoMono-Medium';
    line-height: 1.17;
}

[class*="_pa-"]:not([class*="_p-"]){
    position: absolute;
}
/* content slide 1 */
.slide-1_pa-0{
    top: 32vmin;
    left: 19vmin;
}
.slide-1_pa-0_p-0{
    margin: 1.5vmin 0 0 0;
}
.slide-1_pa-1{
    top: 25vmin;
    left: 163vmin;
}
.slide-1_pa-2{
    top: 58vmin;
    left: 152vmin;
}
.slide-1_pa-2_p-0{
    margin: 1.5vmin 0 0 0;
}
.slide-1_pa-3{
    top: 8vmin;
    left: 163vmin;
}
.slide-1_pa-3 h3{
    position: absolute;
}
.slide-1_pa-3 h3:nth-of-type(1){
    transform: rotate(-90deg);
    top: 1vmin;
    left: -8vmin;
}
.slide-1_pa-3 h3:nth-of-type(2){
    top: -3vmin;
    left: 2vmin;
}
.slide-1_pa-3_p-0{
    margin: 5vmin 0 0 3vmin;
}

/* content slide 2 */
.slide-2_pa-0{
    top: 32.5vmin;
    left: 14vmin;
}
.slide-2_pa-0_p-0{
    margin: 2.5vmin 0 0 2vmin;
}
.slide-2_pa-0_p-1{
    margin: 2vmin 0 0 3.5vmin;
}

.slide-2_pa-1{
    top: 17vmin;
    left: 155vmin;
}
.slide-2_pa-1_p-0{
    margin: 4vmin 0 0 9vmin;
}
.slide-2_pa-1_p-1{
    margin: 1.5vmin 0 0 7vmin;
}
.slide-2_pa-1_p-2{
    margin: 1vmin 0 0 15vmin;
}
.slide-2_pa-1_p-3{
    margin: 2vmin 0 0 11vmin;
}

/* content slide 3 */
[class^="slide-3_pa-"] p{
    font-size: 2.2rem;
}
.slide-3_pa-0{
    top: 30.5vmin;
    left: 11vmin;
}
.slide-3_pa-0_p-0{
    margin: 1vmin 0 0 0vmin;
}
.slide-3_pa-1{
    top: 43vmin;
    left: 11vmin;
}
.slide-3_pa-1_p-0{
    margin: 1vmin 0 0 0vmin;
}
.slide-3_pa-2{
    top: 7vmin;
    left: 150.5vmin;
}
.slide-3_pa-2_p-0{
    margin: 1vmin 0 0 0vmin;
}
.slide-3_pa-3{
    top: 19vmin;
    left: 162vmin;
}
.slide-3_pa-3_p-0{
    margin: 1vmin 0 0 0vmin;
}
.slide-3_pa-4{
    top: 59vmin;
    left: 162.5vmin;
}
.slide-3_pa-4_p-0{
    margin: 1vmin 0 0 0vmin;
}
.slide-3_pa-5{
    top: 74vmin;
    left: 162.5vmin;
}
.slide-3_pa-5_p-0{
    margin: 1vmin 0 0 0vmin;
}

/* content slide 4 */
.slide-4_pa-0{
    top: 30.5vmin;
    left: 20vmin;
}
.slide-4_pa-0_p-0{
    margin: 4.5vmin 0 0 9.5vmin;
}
.slide-4_pa-0_p-1{
    margin: 2vmin 0 0 4vmin;
}
.slide-4_pa-0_p-2{
    margin: 2vmin 0 0 16vmin;
}

.slide-4_pa-1{
    top: 13.5vmin;
    left: 160vmin;
}
.slide-4_pa-1_p-0{
    margin: 4vmin 0 0 4.5vmin;
}
.slide-4_pa-1_p-1{
    margin: 1.5vmin 0 0 .5vmin;
}
.slide-4_pa-1_p-2{
    margin: 2.5vmin 0 0 10.5vmin;
}
.slide-4_pa-1_p-3{
    margin: 2vmin 0 0 6.5vmin;
}

















/* background */
.background{
    z-index: -1;
    background: url('../image/bg/bg1.png') no-repeat center center;
    background-size: cover;
}

.image-wrapper{
    position: absolute;
    width: 107.5vmin;
    height: 59vmin;
    background: rgba(240,195,15,.5);
    background-blend-mode: multiply;
    display: block;
    left: 49vmin;
    top: 24vmin;
}
.image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.decoration{
    position: absolute;
    animation-fill-mode: forwards;
}
.decoration > img{
    width: 100%;
    height: 100%;
}
.decoration_11{
    top: 80vmin;
    left: 176vmin;
    width: 8.5vmin;
}
.decoration_12{
    left: -4.5vmin;
    top: 52.5vmin;
    width: 15vmin;
}
.decoration_13{
    left: 160.5vmin;
    top: 20vmin;
    width: 21vmin;
}

.decoration_21{
    top: 63vmin;
    left: 30vmin;
    transform: rotate(180deg);
    width: 13vmin;
    mix-blend-mode: color-burn;
}
.decoration_22{
    left: 175.5vmin;
    top: 79.5vmin;
    width: 8.5vmin;
}
.decoration_31{
    left: -10vmin;
    top: 5.5vmin;
    width: 18vmin;
}
.decoration_32{
    left: 37vmin;
    top: 81.5vmin;
    width: 13.5vmin;
}
.decoration_33{
    left: 177.5vmin;
    top: 42.5vmin;
    width: 7vmin;
}
.decoration_41{
    left: 8vmin;
    top: 41.5vmin;
    width: 7.5vmin;
}
.decoration_42{
    left: 143vmin;
    top: -11.5vmin;
    width: 18.5vmin;
}
.decoration_43{
    left: 170vmin;
    bottom: 5.5vmin;
    width: 16vmin;
    transform: rotate(270deg);
    mix-blend-mode: color-burn;
}

/* decoration animation */
.wrapper.sliding .rotate{
    animation: roateAround 5s infinite linear;
}


@keyframes roateAround{
    from {transform: rotate(0)}
    to {transform: rotate(360deg)};
}

.blending_color-burn{
    mix-blend-mode: color-burn;
}















/* icons for decorations */
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  


.icon-deco1:before {
    content: "\e900";
  }
  .icon-deco2:before {
    content: "\e901";
  }
  




/* test */
.sample{
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    opacity: .5;
}
.sample img{
    object-fit: fill;
}
