/* content slide 3 */
[class^="slide-3_pa-"] p{
    font-size: 2.2rem;
}
.slide-3_pa-0{
    top: 30.5vmin;
    left: 11vmin;
}
.slide-3_pa-0_p-0{
    margin: 1vmin 0 0 0vmin;
}
.slide-3_pa-1{
    top: 43vmin;
    left: 11vmin;
}
.slide-3_pa-1_p-0{
    margin: 1vmin 0 0 0vmin;
}
.slide-3_pa-2{
    top: 7vmin;
    left: 150.5vmin;
}
.slide-3_pa-2_p-0{
    margin: 1vmin 0 0 0vmin;
}
.slide-3_pa-3{
    top: 19vmin;
    left: 162vmin;
}
.slide-3_pa-3_p-0{
    margin: 1vmin 0 0 0vmin;
}
.slide-3_pa-4{
    top: 59vmin;
    left: 162.5vmin;
}
.slide-3_pa-4_p-0{
    margin: 1vmin 0 0 0vmin;
}
.slide-3_pa-5{
    top: 74vmin;
    left: 162.5vmin;
}
.slide-3_pa-5_p-0{
    margin: 1vmin 0 0 0vmin;
}
